.dish-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.section-title {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  position: relative;
}

.section-title::after {
  content: '';
  width: 80px;
  height: 4px;
  background: #AFA06D;
  display: block;
  margin: 12px auto 0;
  border-radius: 4px;
}

.dish-card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* square card */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.dish-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.dish-card:hover img {
  transform: scale(1.1);
}

.dish-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.dish-card:hover .dish-overlay {
  opacity: 1;
}

/* Overlay text */
.dish-overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dish-overlay p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

.price {
  font-weight: bold;
  margin-bottom: 15px;
}

.dish-overlay button {
  padding: 8px 20px;
  margin-top: 4px;
  background-color: #AFA06D;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.dish-overlay button:hover {
  background-color: #e7b820;
}


.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: 30px;
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.dish-card {
  flex: 0 0 280px;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
